.showburgers {
  text-align: center;
  padding-top: 20px;
}

.form-control#quantity {
  text-align: center;
  width: 100px;
}

.burgerinfo {
  padding-top: 100px;
}

.burgers {
  padding: 20px;
  margin-top: 20px;
}
