.showburgers {
  text-align: center;
  padding-top: 20px;
}

.form-control#quantity {
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.burgerinfo {
  padding-top: 100px;
  text-align: center;
}

.burgers {
  padding: 20px;
  margin-top: 20px;
}

