#checkout-form {
  @extend .panel, .col-xs-10, .col-xs-offset-1, .col-sm-4;
 background-color: $well-bg;
 border: 2px solid black;
 border-radius: 10px;
 padding: 10px;
 margin: 20px;
}

#checkout-handlebar {

  @extend .panel, .col-xs-10, .col-xs-offset-1, .col-sm-6;
 background-color: $well-bg;
 border: 2px solid black;
 border-radius: 10px;
 padding: 10px;
 margin: 20px;
}

#success {
  @extend .well;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  width: 400px;
}
