* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -82px;
}

.footer, .push {
  height: 82px;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: black;
}

ul#social {
  margin: 0;
}

.facebook {
  width:30px;
}

.twitter {
  width:32px;
}

.tumblr {
  width: 30px;
}
